* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f3f3;
    color: #333;
}

header {
    text-align: center;
    padding: 50px 0;
    background-image: url('cafe.jpeg');
    background-size: cover;
    background-position: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.titulo {
    font-size: 3rem;
}

.hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #fff;
}

.hero h2 {
    font-size: 2.5rem;
    color: #333;
}

.hero p {
    font-size: 1.2rem;
    color: #666;
    margin-top: 10px;
}

.historia {
    display: flex;
    align-items: center;
    background-color: #1f1f1f;
    color: #fff;
    padding: 40px 20px;
}

.historia-icon {
    max-width: 300px; /* Limitar el ancho de la imagen */
    height: auto; /* Mantener la proporción */
    border-radius: 10px;
}

.historia-content {
    max-width: 600px;
    margin-left: 20px;
}

.historia h3 {
    font-size: 2rem;
    margin-bottom: 15px;
}

.razones {
    text-align: center;
    padding: 60px 20px;
    background-color: #f7f7f7;
}

.razones h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.razones-content {
    display: flex;
    justify-content: space-around;
}

.razon {
    max-width: 200px;
}

.promociones {
    text-align: center;
    padding: 30px;
}

.imagen-promocion {
    max-width: 90%;
    height: auto; /* Mantener la proporción */
    border-radius: 15px;
}

.contacto {
    padding: 60px 20px;
    background-color: #000000; /* Fondo negro */
    color: #ffffff; /* Texto blanco */
}

.contacto-info p,
.contacto-info a,
.redes-sociales a,
.contacto-info i {
    color: #ffffff; /* Texto e íconos en blanco */
}

.email-link:hover,
.redes-sociales a:hover {
    color: #d3d3d3; /* Un color más claro al pasar el ratón por encima de los enlaces */
}

.contacto-mapa-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contacto-info p {
    margin: 10px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1f1f1f;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #333;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.botones-container {
    display: flex;
    justify-content: flex-start; /* Mantiene los botones a la izquierda */
    margin: 90px 0 0 0; /* Cambiado para dar margen superior y mover los botones más abajo */
    padding-left: 20px; /* Para dar algo de margen desde el borde izquierdo */
}

.boton-nosotros,
.boton-productos,
.boton-promociones {
    background-color: #1f1f1f;
    color: white;
    padding: 10px 20px;
    margin: 0 10px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.boton-nosotros:hover,
.boton-productos:hover,
.boton-promociones:hover {
    background-color: #333;
}

.descubre-sabor {
    background-color: #674e32; /* Color de fondo similar */
    color: #ffffff; /* Color de texto */
    text-align: center; /* Centrar texto */
    padding: 40px 20px; /* Espaciado interno */
    margin-top: 20px; /* Espaciado superior */
}

.descubre-sabor h2 {
    font-size: 1.5em; /* Tamaño de fuente para el título */
    margin-bottom: 10px; /* Espaciado inferior */
}

.descubre-sabor p {
    font-size: 1.2em; /* Tamaño de fuente para el párrafo */
    margin-bottom: 20px; /* Espaciado inferior */
}

.opiniones {
    text-align: center;
    padding: 60px 20px;
    background-color: #1f1f1f;
    color: #fff;
}

.opiniones h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.opiniones-content {
    display: flex;
    justify-content: space-around;
}

.opinion {
    max-width: 200px;
}

/* Media Queries para responsive design */
@media (max-width: 768px) {
    .razones-content,
    .contacto-mapa-container {
        flex-direction: column; /* Coloca elementos en columna en pantallas pequeñas */
        align-items: center; /* Centrar elementos */
    }

    .razon,
    .contacto-info {
        max-width: 90%; /* Limitar el ancho en dispositivos pequeños */
        text-align: center; /* Centrar texto */
    }

    .historia {
        flex-direction: column; /* Colocar imagen encima del texto */
        text-align: center; /* Centrar texto */
    }

    .historia-icon {
        max-width: 100%; /* Ajustar tamaño de imagen en móvil */
        margin-bottom: 20px; /* Espaciado inferior */
    }

    .botones-container {
        flex-direction: column; /* Colocar botones en columna en pantallas pequeñas */
        align-items: center; /* Centrar botones */
    }
}
